services:
  fastapi:
    build:
      context: .
      args:
        - PORT=${PORT}
    container_name: fastapi-app
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
    restart: always
